body {
    font: 20px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: #CAD5E2;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #8D3DAF;
    border: 3px solid #999;
    float: right;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 35%;

  }
  
  .game-info {
    margin-left: 20px;
  }

  .heading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 14px;
    font-size: 16;
    color: #120E43;
  }
  

  .game-info{
    font-weight: 5px;
    font-weight: bold;
  }